.menu-game{
    display:block;
    text-indent: -9999px;
    cursor:pointer;
}

.menu-game::after,.menu-game::before,.menu-game > .middle{
    border-radius:2px;
    content:'';
    display:block;
    background-color: var(--color-fourth);
    height: 4px;
    width:100%;
}

.menu-game::before,.menu-game > .middle{
    margin-bottom:5px;
}