.history-game.-active{
    display: none;
}

.history-game  .tag-game{
    display: inline-block;
    box-sizing:border-box; 
    width: 130px;
}

.history-game > .action{
    margin-bottom:15px;
}


