.input{
    display: none;
}
.label{
    display:inline-flex;
    align-items: center;
}
.label::before{
    content:'';
    display:inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    cursor:pointer;
    border-radius: 5px;
    border: solid 3px var(--color-fourth);
    margin-right: 5px;
}

.input:checked + .label::before{
    background-color:var(--color-first);
}
