
.layer-dark{
    background-color: var(--color-negative);
    width: 100vw;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    transform:translateX(100%);
    transition:transform 200ms linear;
}
.layer-dark.-active{
    transform:translateX(0);
}
.layer-dark > .internal-header{
    width:90vw;
    margin:0 auto 90px;
}