.internal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 35px;
}

.internal-header > .about-link{
    margin-left: auto;
    margin-right: 10px;
}
