.tag-game{
    padding:5px 10px;
    line-height: 27px;
    border-radius: 2em;
    background-color: var(--color-zero);
    color:var( --color-negative);
    
}

.tag-game.-end{
    background-color:var(--color-nineth);
    text-transform: uppercase;
}

