.header-game{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
}
.header-game > .about-link{
    margin-left:auto;
    margin-right: 8px;
}
.header-game > .menu-game{
    width:25px;
}
.header-game > .logo-collab{
    width: 130px;
}

@media (min-width:740px){
    .header-game{
        background-color: var(--color-tenth); 
    }
    .header-game > .logo-collab{
        width: 230px;
    }
    .header-game > .about-link{
        font-size:18px;
    }
    .header-game > .menu-game{
        width: 30px;
    }
}