.app{
    text-align:center;
    position: relative;
    overflow-x:hidden;
    height: 100vh;
}

.app > .header-game{
    width:90vw;
    margin:0 auto 90px;
    
}
.app > .card-game{
    box-sizing: border-box;
    display:inline-block;
    width: 90vw;
    height: 90vw;
    margin-bottom:40px;
}

 .app > .history-game{
     display:none;
    margin-top:42px;
 }
 .app > .history-game.-active{
     display:block;
 }