.app{
    text-align:center;
    
}
.app > .header{
    width:90vw;
    margin:0 auto 90px;
    
}
.app > .card{
    box-sizing: border-box;
    display:inline-block;
    width: 90vw;
    height: 90vw;
    margin-bottom:40px;
}

 