.app{
    text-align:center;
    position: relative;
    overflow-x:hidden;
    height: 100vh;
}

.app > .header-game{
    width:90vw;
    margin:0 auto 90px;
    min-width: 260px;
    
}
.app  .card-game{
    box-sizing: border-box;
    display:inline-block;
    width: 90vw;
    height: 90vw;
    max-width: 330px;
    max-height: 330px;
    min-width: 260px;
    min-height: 260px;
    margin-bottom:40px;
}
.app  .label-game{
    display: flex;
    justify-content: center;
}

 .app .history-game{
    display:none;
    margin-top:42px;
 }

 .app  .input-game:checked ~ .history-game{
     display:block;
 }
 .app > .wrapper-hashtagHistory{
     display: inline-block;
 }
 .app > .wrapper-hashtagHistory > .next-player{
     margin:0 auto;
     position: static;
     margin-bottom:15px;
 }

 @media (min-width:740px){
    .app  .header-game{
        width: 100%;
        margin-left:0;
        margin-right: 0;
        padding-left: 10%;
        padding-right: 10%;
        box-sizing: border-box;
    }
    .app > .wrapper-hashtagHistory{
        position:relative;
        display: inline-flex;
        justify-content: center;
        transition: transform 150ms linear;
        
    }
    .app > .wrapper-hashtagHistory.-active{
            transform:translateX(-25%);
    }
    .app .history-game{
        position:absolute;
        z-index: -1;
        opacity:0;
        margin-top:0;
        display: block;
        transition:transform 150ms linear,opacity 1ms linear 80ms;
        
    }

     .app > .wrapper-hashtagHistory.-active > .history-game{
        transition:transform 150ms linear;
         opacity: 1;
         transform:translateX(200%);
     }

     .app > .wrapper-hashtagHistory > .next-player{
        position: absolute;
        transform: translateY(-100%);
        top:-15px;
    }
    
    
    
    
    .app .label-game{
        position: absolute;
        top:400px;
        left:96px;
        
    }
 }